table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
}
/* Utilizando únicamente pseudoselectores da color de fondo verde a las casillas que contienen horas */
 td:first-child {
  background-color: green;
 }
 thead td:first-child{
  background-color: white;
 }
/* Utilizando únicamente pseudoselectores da color de fondo amarillo a la celda de recreo */
th[colspan="5"]{
  background-color: yellow;
}
/* Cambiar los estado de los enlaces para que:
 Nunca estén subrayados
 Si están visitados se muestren en rojo
 Si no están visitado se muestren en verde */
 a{
  text-decoration: none;
 }
 a:visited{
  color: red;
 }
 a:link{
  color: green;
 }
/* Utilizando pseudoselectores hacer que cuando pasemos el ratón sobre la columna del viernes
aumente el tamaño de letra al doble */
thead td:nth-of-type(6):hover{
  font-size: 2em
}
 
/* Utilizando Pseudoelementos Haz que la primera letra de los días tenga el doble de tamaño*/
thead td::first-letter{
  font-size: 2em;
}

 
/* Añade un borde rojo que esté separado 5 px a los campos obligatorios */

input[type="email"]{
  border: 1px solid red;
  padding: 15px;
}

 /* Añade un * en rojo detrás de las etiquetas */
span{
  color: red;
} 
 
